body{
    font-family: 'Playfair Display', serif;
font-family: 'Shippori Mincho B1', serif;
}
p{
    font-family: 'Playfair Display', serif;
font-family: 'Shippori Mincho B1', serif;
}

.home_page_1{
    min-height: 100vh;
    width: 100%;
    background-image: url(../images/background.png);
    background-size: cover;
    background-position: center;
    position: relative;
}
.blank{
    min-height: 100vh;
    width: 100%;
    background-image: url(images/coffee-beans-top-view-white-background-space-text.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
.blank_page_1{
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: x-large;
    text-align: center;
}


/* mehdi work */

.intro-section{
    font-family: 'Playfair Display', serif;
font-family: 'Shippori Mincho B1', serif;
}
/*intro*/

.intro{
    padding: 15px;
    background-color: #d8bd8a;
    color:#582817
}

.intro h1{
    font-size: 35px;
    font-family: 'Playfair Display', serif;
font-family: 'Shippori Mincho B1', serif;
    color: #582817;
    text-decoration: underline;
}

.intro p {
    font-weight: 600;
    padding-left: 5px;
    max-width: 30ch;
}



#intro-span-revolt{
    color: #aa5042;
}

/* About us */
.aboutus{
    text-align: right;
    padding: 15px;
    background-color: #aa5042;
    color: #d8bd8a
}

.aboutus h1{
    text-decoration: underline;
    font-size: 35px;
    font-family: 'Playfair Display', serif;
font-family: 'Shippori Mincho B1', serif;
    color:#d8bd8a
}

.aboutus p {
    max-width: 40ch;
    text-align: right;
    display: inline-block;
    font-weight: 600;
}

/* servives */

.services {
    text-align: center;
}

#sliderImg{
    width: 1460px;
    height: 500px;
}

 .container1{
    position: relative;
  text-align: center;
  color: white;
 }

 .container2{
    position: relative;
  text-align: center;
  color: white;
 }

 .container3{
    position: relative;
  text-align: center;
  color: white;
 }

 .sliderTxt{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }

 .sliderH1{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
 }

 /* services -- slider */
